DOMAIN=aerolinea.redes.test
BASE_DN=dc=aerolinea,dc=redes,dc=test
LDAP_HOST=ldap.aerolinea.redes.test
DNS_IP=192.168.50.10

# Puertos publicados en la computadora que ejecuta Docker.
SMTP_PORT=25
IMAP_PORT=143
SUBMISSION_PORT=587
